<nav
    class="navbar navbar-expand-sm navbar-dark bg-primary"
>
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Eurafric</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home" aria-current="page"
                        >Home
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/elearning">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/todos">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/github">Users</a>
                </li>
               
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a routerLink="/auth/signup" class="nav-link">Register</a></li>
                <li class="nav-item"><a routerLink="/auth/signin" class="nav-link">Login</a></li>
            </ul>
           
        </div>
    </div>
</nav>
