
<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>login</th>
            <th>email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
        <tr>
            <td>item 001</td>
            <td>item 002</td>
            <td>item 003</td>
            <td>item 004</td>
        </tr>
    </tbody>
</table>