<!-- <h1>{{ title }}</h1>
<button (click)="toggleDivision()" class="btn btn-success">Show</button>

<input [(ngModel)]="image" type="url" class="form-control">


@if(show) {
    <div>

        <img [src]="image" [alt]="title" srcset="">

        @for(course of courses; track course) {
            <p >{{ course }}</p>
        }
        @empty {
            <p>not courses yet !</p>
        }
    </div>
}
@else {
    <p>can't show this division</p>
} -->

<div class="container">
    <app-courses></app-courses>
</div>





