<div class="row">
    <div class="col-12 my-4">
        <div
            class="table-responsive"
        >
            <table
                class="table table-dark"
            >
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(course of dataCourses; track course.id) {

                        <tr class="">
                            <td scope="row">{{ course.title }}</td>
                            <td><img width="100px" [src]="course.image" [alt]="course.title" srcset=""></td>
                            <td>{{ course.price }}</td>
                            <td class="text-end">
                                <button (click)="changeStatusCourse(course)" 
                                [ngClass]="{
                                    'btn-info': course.enable,
                                    'btn-primary': !course.enable,
                                }" 
                                
                                class="btn btn-sm me-1"><i class="fa fa-power-off"></i></button>
                                <button (click)="editCourseEntire(course)" class="btn btn-warning btn-sm me-1"><i class="fa fa-pencil"></i></button>
                                
                                @if(!!course.id) {
                                    <button (click)="wantRemoveCourse(course.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>