<!-- .container>(.row.my-5>(.col-6>h1{List of courses})+(.col-6.text-end>btn.btn.btn-success.btn-sm{Add}))+(.row.my-4>(.form-group>label{Title}+input:text.form-control#title)+(.form-group>label{Image}+input:url.form-control#image)+(.form-group>label{Price}+input:number.form-control#price)+(.form-group>label{Content}+textarea.form-control#content)+(.d-grid.my-3>btn.btn-primary{Save})) -->


    <div class="row my-5">
        <div class="col-6">
            <h1>List of courses</h1>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-success btn-sm" (click)="changeToggleForm()">Add</button>
        </div>
    </div>

    @if(toggleForm) {
        <div class="row my-4">
           <div class="col-6 mx-auto">
               <div class="form-group">
                   <label for="">Title</label>
                   <input [(ngModel)]="courseForm.title" type="text" name="" id="title" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Image</label>
                   <input [(ngModel)]="courseForm.image" type="url" name="" id="image" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Price</label>
                   <input [(ngModel)]="courseForm.price" type="number" name="" id="price" class="form-control">
               </div>
               <div class="form-group">
                   <label for="">Content</label>
                   <textarea [(ngModel)]="courseForm.content" name="" id="content" cols="30" rows="2" class="form-control"></textarea>
               </div>
               <div class="d-grid my-3">
                   @if(editMode) {
                       <button (click)="updateCourse()" class="btn btn-warning">Update</button>
                   }
                   @else {
                       <button (click)="saveCourse()" class="btn btn-primary">Save</button>
                   }
               </div>
           </div>
        </div>
    }


<div class="row mt-4 mb-2">
    <div class="col-12 text-end">
        <button (click)="toggleView(true)" class="btn btn-sm btn-light me-2">List</button>
        <button (click)="toggleView(false)" class="btn btn-sm btn-light">Grid</button>
    </div>
</div>




@if(listView) {

   <app-table-courses (statusCourseFromChild)="enableOrDisableCourse($event)" (editCourseFromChild)="editCourse($event)" (deleteCourseFromChid)="deleteCourseFromParent($event)" [dataCourses]="courses"></app-table-courses>
}
@else {

   <app-list-courses [dataCourses]="courses"></app-list-courses>
}

