<!-- .container>(.row.my-5>(.col-6>h1{List of courses})+(.col-6.text-end>btn.btn.btn-success.btn-sm{Add}))+(.row.my-4>(.form-group>label{Title}+input:text.form-control#title)+(.form-group>label{Image}+input:url.form-control#image)+(.form-group>label{Price}+input:number.form-control#price)+(.form-group>label{Content}+textarea.form-control#content)+(.d-grid.my-3>btn.btn-primary{Save})) -->

   <!-- <input type="text" [ngModel]="text()" (ngModelChange)="text.set($event)">
    {{ text() }} -->
    <div class="row my-5">
        <div class="col-6">
            <h1>List of courses</h1>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-success btn-sm" (click)="changeToggleForm()">Add</button>
        </div>
    </div>

    @if(toggleForm) {
        <div class="row my-4">
           <div class="col-6 mx-auto">
            <form #courseForm="ngForm" (ngSubmit)="saveCourse(courseForm)">
                <div class="form-group">
                    <label for="">Title</label>
                    <input required minlength="10" pattern="[0-9a-zA-Z ]*" ngModel #title="ngModel" (change)="info(title)" type="text" name="title" id="title" class="form-control">
                   @if(title.touched && title.invalid) {
                      
                      @if(title.errors?.['required']) {
 
                          <div class="alert alert-danger">
                           The Title is Required !
                          </div>
                      }
 
                      @if(title.errors?.['email']) {
 
                         <div class="alert alert-danger">
                          The Title is email
                         </div>
                     }
 
                     @if(title.errors?.['pattern']) {
 
                         <div class="alert alert-danger">
                          The Title is Alpha numeric
                         </div>
                     }
 
                      @if(title.errors?.['minlength']) {
 
                         <div class="alert alert-danger">
                          The Title Should be great than {{ title.errors?.['minlength']['actualLength'] }} / {{ title.errors?.['minlength']['requiredLength'] }} caracters !
                         </div>
                     }
                   }
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input required ngModel #image="ngModel" type="url" name="image" id="image" class="form-control">
                    @if(image.touched && image.invalid) {
                      
                     @if(image.errors?.['required']) {
 
                         <div class="alert alert-danger">
                          The image is Required !
                         </div>
                     }
 
                  }
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input #price="ngModel" ngModel type="number" name="price" id="price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <textarea #content="ngModel" ngModel id="content" name="content" cols="30" rows="2" class="form-control"></textarea>
                </div>
                <div class="d-grid my-3">
                   
                    <button [disabled]="courseForm.invalid" class="btn btn-primary">Save</button>
                    
                </div>
            </form>
           </div>
        </div>
    }


<div class="row mt-4 mb-2">
    <div class="col-12 text-end">
        <button (click)="toggleView(true)" class="btn btn-sm btn-light me-2">List</button>
        <button (click)="toggleView(false)" class="btn btn-sm btn-light">Grid</button>
    </div>
</div>




@if(listView) {

   <app-table-courses (statusCourseFromChild)="enableOrDisableCourse($event)" (editCourseFromChild)="editCourse($event)" (deleteCourseFromChid)="deleteCourseFromParent($event)" [dataCourses]="courses"></app-table-courses>
}
@else {

   <app-list-courses [dataCourses]="courses"></app-list-courses>
}

